/*
 * COMMON
 */

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  min-height: 100vh;
  padding: 1rem;
  margin: 0;
  background: #f2b632;
  text-align: center;
  /* Horizontally and vertically center .container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0;
  margin: 0;
  max-width: 450px;
}

/*
 * HOME PAGE
 */

footer a {
  color: #000;
}

footer a:hover {
  color: #000;
  text-decoration: none;
}

.play-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  /* Horizontally and vertically center play icon */
  display: flex;
  justify-content: center;
  align-items: center;

}

.play-btn i {
  font-size: 25px;
  display: inline-block;
  margin-left: 5px;
}

.app-title {
  font-family: 'Kaushan Script', cursive;
}

/*
 * PLAY PAGE
 */

.countdown, .points {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* Horizontally and vertically center content within the badges */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}