/*
 * COMMON
 */

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.jumbotron {
  min-height: 100vh;
  padding: 1rem;
  margin: 0;
  /*background: #f2b632;*/
  background: -webkit-gradient(linear, left top, right top, from(rgba(242,182,50,0.95)), to(rgba(242,145,49,0.95)));
  background: -webkit-linear-gradient(left, rgba(242,182,50,0.95), rgba(242,145,49,0.95));
  background: -o-linear-gradient(left, rgba(242,182,50,0.95), rgba(242,145,49,0.95));
  background: linear-gradient(to right, rgba(242,182,50,0.95), rgba(242,145,49,0.95));
  text-align: center;
  /* Horizontally and vertically center .container */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  padding: 0;
  margin: 0;
  max-width: 450px;
}

/*
 * HOME PAGE
 */

footer a {
  color: #000;
}

footer a:hover {
  color: #000;
  text-decoration: none;
}

.play-btn {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  /* Horizontally and vertically center play icon */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.play-btn i {
  font-size: 25px;
  display: inline-block;
  margin-left: 5px;
}

.app-title, .gameover-title {
  font-family: 'Kaushan Script', cursive;
}

/*
 * PLAY PAGE
 */

.countdown, .points {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /* Horizontally and vertically center content within the badges */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.play-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.play-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
