/*
 * BASE STRUCTURE
 */ 

html, body {
  height: 100vh;
}

body {
  background: #1cd8d2;  /* fallback for old browsers */
  background: linear-gradient(to bottom, #93edc7, #1cd8d2);
}

.container {
  height: 100vh;
  padding: 0;
  /* Flexbox centering */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
 * HOME PAGE
 */

.jumbotron {
  padding: 0;
  text-align: center;
  max-width: 450px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
  margin: 0;
}

.j-body-wrapper {
  padding: 2rem 1rem;
}

footer {
  padding: 1rem;
  text-align: center;
}

/*
 * PLAY AREA
 */

.c { 
  max-width: 450px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
  background: #fff;
}